---
import BackgroundEffect from '@components/core/BackgroundEffect.astro';
import Footer from '@components/layouts/Footer.astro';
import Header from '@components/layouts/Header.astro';
import '@styles/global.css';

export interface Props {
  title: string;
  project?: string;
  endTitle?: string;
  description?: string;
  tags?: string;
  author?: string;
  banner?: string;
  icon?: string;
}

const {
  title,
  project = 'HawAPI',
  endTitle = ' | HawAPI - A Free and Open Source API for Stranger Things.',
  description = 'A Free and Open Source API for Stranger Things. This API provides various information about the Stranger Things show.',
  tags = 'stranger things, stranger, things, stranger-things, st1, st2, st3, st4, api, github, git, hawapi, haw api, haw-api, HawAPI/HawAPI, theproject id, theproject.id, hawapi.theproject.id, netflix, watch, rest, free, open source',
  author = 'LucJosin',
  banner = Astro.site + 'images/banner.png',
  icon = Astro.site + 'favicon.ico',
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Configurations -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta http-equiv="content-type" content="text/html" />

    <!-- Default  -->
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="tags" content={tags} />
    <meta name="keywords" content={tags} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={'@' + author} />
    <meta name="twitter:domain" content={Astro.site} />
    <meta name="twitter:title" content={title + endTitle} />
    <meta
      name="twitter:description"
      property="og:description"
      itemprop="description"
      content={description}
    />
    <meta
      property="twitter:image"
      itemprop="image primaryImageOfPage"
      content={banner}
    />

    <!-- Open Graph -->
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title + endTitle} />
    <meta property="og:site_name" content={project} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={banner} />

    <!-- Links -->
    <link rel="canonical" href={Astro.url} />

    <!-- Icons -->
    <link rel="apple-touch-icon" href={icon} type="image/ico" />
    <link rel="shortcut icon" type="image/ico" href={icon} />
    <link rel="icon" type="image/ico" href={icon} />

    <!-- Astro -->
    <meta name="generator" content={Astro.generator} />

    <!-- Title -->
    <title>{title + endTitle}</title>
  </head>
  <body>
    <BackgroundEffect />
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
    <style>
      :global(.sw-effect-title) {
        font-size: 6vw;
        font-family: Benguiat;
        color: var(--sw-secondary-text-effect);
        text-shadow: var(--sw-primary-text-effect);
        margin: 0;
        padding: 0;
        text-align: center;
      }

      @media (max-width: 768px) {
        :global(.sw-effect-title) {
          font-size: 12vw;
        }
      }
    </style>
  </body>
</html>
